{% extends 'base.html.twig' %}

{% block body %}
    <h1>News</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ news.url }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if news.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publishdate</th>
                <td>{% if news.publishDate %}{{ news.publishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Shortcontent</th>
                <td>{{ news.shortContent }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ news.content }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if news.created %}{{ news.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if news.modified %}{{ news.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_news_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_news_edit', { 'id': news.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
